<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer>
    <div class="footer_container">
      <div class="upper">
        <a href="">개인정보처리방침</a>
        <ul>
          <li><a href="#"><i class="fa-brands fa-square-facebook fa-2x"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-instagram  fa-2x"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-twitter  fa-2x"></i></a></li>
        </ul>
      </div>

      <div class="lower">
        <address>
          (44677) 울산 남구 삼산로 35번길 19 | 프로젝트 울산 한마당
        </address>
        <p>
          Copyright. All right reserved.
        </p>
      </div>

    </div>
  </footer>
</th:block>
</html>